@font-face {
    font-family: 'PressStart2P-Regular';
    src: url('../fonts/PressStart2P-Regular.ttf');
}

@font-face {
    font-family: 'Ubuntu-Regular';
    src: url('../fonts/Ubuntu-Regular.ttf');
}

body{
    background: #000;
    color: #fff;
    display: block;
}

h1{
    top: 10px;
    font-family: PressStart2P-Regular;
    text-align: center;
    width: 500px; 
    margin-left: auto;
    margin-right: auto; 
}

div{
    width: 550px; 
    margin-left: auto;
    margin-right: auto; 
}
table{
    width: 95%;
}
th{ 
    width: 100px;
    color: rgb(5, 245, 1);
}

table, th, tr, td{
    border: 1px solid #fff;
    border-collapse: collapse;
    padding: 2px;
    text-align: left;
}

input{
    width: 100%;
    background: #000;
    color: aqua;
}
.cria-e{
    position: relative;
    left: 95%;
    bottom: 50px;
    background: #000;
    color: rgb(5, 245, 1);
    border: 1px solid #fff;
    cursor:pointer;
}

[adiciona] {
    background: #000;
    color: rgb(5, 245, 1);
    border: 1px solid #fff;
    cursor:pointer;
}

table, input, button, span{
    font-family: 'Ubuntu-Regular';
}

.removeCenario{
    position: relative;
    left: 95%;
    top: 20px;
    border: 1px solid #fff;
    padding: 0px 8px 0px 8px;
}

button:hover,
.removeCenario:hover{
    background: rgb(101, 101, 101);
}

span{
    position: relative;
    left: 80%;
    color: rgb(254, 25, 71);
    bottom: 8px;
    cursor:pointer;
}

#enviar {
    position: relative;
    left: 57%;
    background: #000;
    color: rgb(5, 245, 1);
    border: 1px solid #fff;
    cursor:pointer;
}
